* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
}

body {
    background-image: url('../image/default_bg.jpg');
    background-color: #00ffd5; /* Used if the image is unavailable */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    height: 100vh;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.header {
    font-weight: bold;
    font-size: 80px;
    font-family: sans-serif;
    color: green;
}
.card {
    box-shadow: 0 4px 25px 0 rgb(255, 38, 1,0.9);
    transition: 0.3s;
}

   
    .card:hover {
        box-shadow: 0 8px 50px 0 rgb(255, 38, 1,0.9);
    }
